@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
        background-color: white;
    }
}
#login{
    color: red;
}
body {
    padding-top: 10px;
    background-color: blue;
}
.row{
    background-color: #1c354c;
}
[class*="col-"], footer {
    background-color: #d3d6ee;
    border: 2px solid black;
    border-radius: 6px;
    line-height: 40px;
    text-align: center;
}